<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title"/>
    </div>
    <div>
        <label for="textarea">Share Your Love Here:</label>
        <input type="textarea" name="textarea" id="textarea"/>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"/>
    </div>
    <div>
        <input type="submit" value="Give Some Love"/>
    </div>
    </form>
</body>
</html>